<div id="keyboard-container">
    <div class="keyboard-row">
        <button data-key="љ">љ</button>
        <button data-key="њ">њ</button>
        <button data-key="е">е</button>
        <button data-key="р">р</button>
        <button data-key="т">т</button>
        <button data-key="ѕ">ѕ</button>
        <button data-key="у">у</button>
        <button data-key="и">и</button>
        <button data-key="о">о</button>
        <button data-key="п">п</button>
        <button data-key="ш">ш</button>
        <button data-key="ѓ">ѓ</button>
        <button data-key="ж">ж</button>
    </div>
    <div class="keyboard-row">
        <div class="spacer-half"></div>
        <button data-key="а">а</button>
        <button data-key="с">с</button>
        <button data-key="д">д</button>
        <button data-key="ф">ф</button>
        <button data-key="г">г</button>
        <button data-key="х">х</button>
        <button data-key="ј">ј</button>
        <button data-key="к">к</button>
        <button data-key="л">л</button>
        <button data-key="ч">ч</button>
        <button data-key="ќ">ќ</button>
        <div class="spacer-half"></div>
    </div>
    <div class="keyboard-row">
        <button data-key="enter" class="wide-button">Ентер</button>
        <button data-key="з">з</button>
        <button data-key="џ">џ</button>
        <button data-key="ц">ц</button>
        <button data-key="в">в</button>
        <button data-key="б">б</button>
        <button data-key="н">н</button>
        <button data-key="м">м</button>
        <button data-key="del" class="wide-button">⌫</button>
    </div>
</div>